In [61]:
"""An Example of a DNNClassifier for the Iris dataset."""
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import argparse
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split

# Titanic Training and Test data set extraction

In [62]:
titanic_train_data =  pd.read_csv('titanic_train.csv')
titanic_train_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [63]:
#Remove all the non-numeric columns

titanic_train_data = titanic_train_data.drop(['PassengerId','Name','Sex','Ticket','Cabin','Embarked'], axis=1)
titanic_train_data.head(5)

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [64]:
#titanic_train_data = titanic_train_data.fillna(value=0)
print('Size before removing null values', titanic_train_data.shape)
titanic_train_data = titanic_train_data.dropna()
print('Size after removing null values', titanic_train_data.shape)

#Get the features and Label for Train data
all_features =  titanic_train_data.drop(['Survived'], axis=1)
all_labels = titanic_train_data[['Survived']]

train_features, validation_features, train_labels, validation_labels = train_test_split(all_features, all_labels, test_size=0.33 )

print(train_features.head(5))
print(train_labels.head(5))

print(validation_features.head(5))
print(validation_labels.head(5))

print(train_features.shape, train_labels.shape, validation_features.shape, validation_labels.shape)

Size before removing null values (891, 6)
Size after removing null values (714, 6)
     Pclass   Age  SibSp  Parch     Fare
137       1  37.0      1      0  53.1000
496       1  54.0      1      0  78.2667
192       3  19.0      1      0   7.8542
320       3  22.0      0      0   7.2500
805       3  31.0      0      0   7.7750
     Survived
137         0
496         1
192         1
320         0
805         0
     Pclass   Age  SibSp  Parch     Fare
289       3  22.0      0      0   7.7500
18        3  31.0      1      0  18.0000
80        3  22.0      0      0   9.0000
871       1  47.0      1      1  52.5542
309       1  30.0      0      0  56.9292
     Survived
289         1
18          0
80          0
871         1
309         1
(478, 5) (478, 1) (236, 5) (236, 1)

In [65]:
titanic_test_data =  pd.read_csv('titanic_test.csv')
titanic_test_data.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [66]:
print('Size before removing null values', titanic_test_data.shape)
titanic_test_data = titanic_test_data.dropna()
print('Size after removing null values', titanic_test_data.shape)

test_features = titanic_test_data.drop(['PassengerId','Name','Sex','Ticket','Cabin','Embarked'], axis=1)
test_features.head(5)

Size before removing null values (418, 11)
Size after removing null values (87, 11)

    Pclass   Age  SibSp  Parch      Fare
12       1  23.0      1      0   82.2667
14       1  47.0      1      0   61.1750
24       1  48.0      1      3  262.3750
26       1  22.0      0      1   61.9792
28       1  41.0      0      0   30.5000

# Create the Neural Networks model and Train

In [73]:
def input_fn_train(features, labels, batch_size):
    dataset = tf.data.Dataset.from_tensor_slices((dict(features),labels))
    dataset = dataset.shuffle(1000).repeat().batch(batch_size)
    #dataset.batch(batch_size)
    return dataset

feature_set = []
for feature in train_features.keys():
    feature_set.append(tf.feature_column.numeric_column(key=feature))
    
print(feature_set)

classifier = tf.estimator.DNNClassifier(hidden_units=[10, 10], feature_columns=feature_set, n_classes=2)
classifier.train(input_fn= lambda:input_fn_train(train_features, train_labels, 10), steps = 10000)

[_NumericColumn(key='Pclass', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='SibSp', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='Parch', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='Fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmp0ghy8d2x
INFO:tensorflow:Using config: {'_num_ps_replicas': 0, '_num_worker_replicas': 1, '_model_dir': '/tmp/tmp0ghy8d2x', '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f45bc5ac588>, '_save_checkpoints_secs': 600, '_master': '', '_keep_checkpoint_max': 5, '_tf_random_seed': None, '_session_config': None, '_service': None, '_log_step_count_steps': 100, '_save_checkpoints_steps': None, '_is_chief': True, '_save_summary_steps': 100, '_keep_checkpoint_every_n_hours': 10000, '_task_id': 0, '_task_type': 'worker'}
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmp0ghy8d2x/model.ckpt.
INFO:tensorflow:step = 1, loss = 17.516218
INFO:tensorflow:global_step/sec: 209.397
INFO:tensorflow:step = 101, loss = 4.6509724 (0.481 sec)
INFO:tensorflow:global_step/sec: 264.177
INFO:tensorflow:step = 201, loss = 6.398612 (0.379 sec)
INFO:tensorflow:global_step/sec: 268.203
INFO:tensorflow:step = 301, loss = 4.1631193 (0.373 sec)
INFO:tensorflow:global_step/sec: 268.425
INFO:tensorflow:step = 401, loss = 5.5836143 (0.378 sec)
INFO:tensorflow:global_step/sec: 268.731
INFO:tensorflow:step = 501, loss = 7.631787 (0.367 sec)
INFO:tensorflow:global_step/sec: 271.362
INFO:tensorflow:step = 601, loss = 5.8698997 (0.372 sec)
INFO:tensorflow:global_step/sec: 261.934
INFO:tensorflow:step = 701, loss = 4.3196836 (0.378 sec)
INFO:tensorflow:global_step/sec: 268.784
INFO:tensorflow:step = 801, loss = 4.59431 (0.372 sec)
INFO:tensorflow:global_step/sec: 276.689
INFO:tensorflow:step = 901, loss = 4.965832 (0.367 sec)
INFO:tensorflow:global_step/sec: 274.532
INFO:tensorflow:step = 1001, loss = 7.2331 (0.358 sec)
INFO:tensorflow:global_step/sec: 266.235
INFO:tensorflow:step = 1101, loss = 7.847957 (0.376 sec)
INFO:tensorflow:global_step/sec: 273.494
INFO:tensorflow:step = 1201, loss = 4.100585 (0.369 sec)
INFO:tensorflow:global_step/sec: 262.521
INFO:tensorflow:step = 1301, loss = 5.900041 (0.377 sec)
INFO:tensorflow:global_step/sec: 277.273
INFO:tensorflow:step = 1401, loss = 6.363607 (0.361 sec)
INFO:tensorflow:global_step/sec: 270.106
INFO:tensorflow:step = 1501, loss = 6.7186193 (0.373 sec)
INFO:tensorflow:global_step/sec: 272.742
INFO:tensorflow:step = 1601, loss = 5.7260237 (0.364 sec)
INFO:tensorflow:global_step/sec: 244.667
INFO:tensorflow:step = 1701, loss = 7.184631 (0.412 sec)
INFO:tensorflow:global_step/sec: 251.787
INFO:tensorflow:step = 1801, loss = 10.010034 (0.395 sec)
INFO:tensorflow:global_step/sec: 250.561
INFO:tensorflow:step = 1901, loss = 5.0861197 (0.402 sec)
INFO:tensorflow:global_step/sec: 254.428
INFO:tensorflow:step = 2001, loss = 6.484002 (0.389 sec)
INFO:tensorflow:global_step/sec: 250.382
INFO:tensorflow:step = 2101, loss = 6.200925 (0.411 sec)
INFO:tensorflow:global_step/sec: 184.927
INFO:tensorflow:step = 2201, loss = 5.407301 (0.530 sec)
INFO:tensorflow:global_step/sec: 247.992
INFO:tensorflow:step = 2301, loss = 5.199402 (0.411 sec)
INFO:tensorflow:global_step/sec: 267.115
INFO:tensorflow:step = 2401, loss = 8.088628 (0.369 sec)
INFO:tensorflow:global_step/sec: 261.449
INFO:tensorflow:step = 2501, loss = 7.539213 (0.379 sec)
INFO:tensorflow:global_step/sec: 270.622
INFO:tensorflow:step = 2601, loss = 7.524336 (0.369 sec)
INFO:tensorflow:global_step/sec: 271.5
INFO:tensorflow:step = 2701, loss = 6.702401 (0.370 sec)
INFO:tensorflow:global_step/sec: 275.32
INFO:tensorflow:step = 2801, loss = 4.775102 (0.363 sec)
INFO:tensorflow:global_step/sec: 268.269
INFO:tensorflow:step = 2901, loss = 4.858334 (0.373 sec)
INFO:tensorflow:global_step/sec: 276.576
INFO:tensorflow:step = 3001, loss = 5.2698627 (0.361 sec)
INFO:tensorflow:global_step/sec: 267.806
INFO:tensorflow:step = 3101, loss = 4.5235643 (0.375 sec)
INFO:tensorflow:global_step/sec: 275.492
INFO:tensorflow:step = 3201, loss = 11.146099 (0.361 sec)
INFO:tensorflow:global_step/sec: 272.314
INFO:tensorflow:step = 3301, loss = 7.235961 (0.370 sec)
INFO:tensorflow:global_step/sec: 269.547
INFO:tensorflow:step = 3401, loss = 9.072039 (0.373 sec)
INFO:tensorflow:global_step/sec: 275.045
INFO:tensorflow:step = 3501, loss = 5.959618 (0.362 sec)
INFO:tensorflow:global_step/sec: 273.82
INFO:tensorflow:step = 3601, loss = 5.6655197 (0.362 sec)
INFO:tensorflow:global_step/sec: 269.488
INFO:tensorflow:step = 3701, loss = 5.2956905 (0.375 sec)
INFO:tensorflow:global_step/sec: 281.035
INFO:tensorflow:step = 3801, loss = 4.548135 (0.356 sec)
INFO:tensorflow:global_step/sec: 283.471
INFO:tensorflow:step = 3901, loss = 2.8786674 (0.348 sec)
INFO:tensorflow:global_step/sec: 273.396
INFO:tensorflow:step = 4001, loss = 4.905357 (0.366 sec)
INFO:tensorflow:global_step/sec: 283.151
INFO:tensorflow:step = 4101, loss = 3.7670455 (0.354 sec)
INFO:tensorflow:global_step/sec: 273.561
INFO:tensorflow:step = 4201, loss = 10.174588 (0.366 sec)
INFO:tensorflow:global_step/sec: 283.155
INFO:tensorflow:step = 4301, loss = 4.252189 (0.352 sec)
INFO:tensorflow:global_step/sec: 271.89
INFO:tensorflow:step = 4401, loss = 8.009505 (0.368 sec)
INFO:tensorflow:global_step/sec: 273.94
INFO:tensorflow:step = 4501, loss = 3.3883884 (0.365 sec)
INFO:tensorflow:global_step/sec: 279.911
INFO:tensorflow:step = 4601, loss = 6.629803 (0.357 sec)
INFO:tensorflow:global_step/sec: 276.291
INFO:tensorflow:step = 4701, loss = 3.626112 (0.366 sec)
INFO:tensorflow:global_step/sec: 290.126
INFO:tensorflow:step = 4801, loss = 6.650033 (0.346 sec)
INFO:tensorflow:global_step/sec: 279.478
INFO:tensorflow:step = 4901, loss = 7.231034 (0.353 sec)
INFO:tensorflow:global_step/sec: 294.809
INFO:tensorflow:step = 5001, loss = 4.008609 (0.340 sec)
INFO:tensorflow:global_step/sec: 291.031
INFO:tensorflow:step = 5101, loss = 5.479365 (0.343 sec)
INFO:tensorflow:global_step/sec: 291.197
INFO:tensorflow:step = 5201, loss = 8.732082 (0.343 sec)
INFO:tensorflow:global_step/sec: 294.067
INFO:tensorflow:step = 5301, loss = 10.601892 (0.340 sec)
INFO:tensorflow:global_step/sec: 295.9
INFO:tensorflow:step = 5401, loss = 5.0064926 (0.338 sec)
INFO:tensorflow:global_step/sec: 289.573
INFO:tensorflow:step = 5501, loss = 7.757503 (0.346 sec)
INFO:tensorflow:global_step/sec: 289.585
INFO:tensorflow:step = 5601, loss = 5.7491436 (0.345 sec)
INFO:tensorflow:global_step/sec: 297.823
INFO:tensorflow:step = 5701, loss = 5.5618486 (0.336 sec)
INFO:tensorflow:global_step/sec: 288.019
INFO:tensorflow:step = 5801, loss = 3.988548 (0.347 sec)
INFO:tensorflow:global_step/sec: 290.089
INFO:tensorflow:step = 5901, loss = 6.0729423 (0.344 sec)
INFO:tensorflow:global_step/sec: 292.869
INFO:tensorflow:step = 6001, loss = 6.3149343 (0.342 sec)
INFO:tensorflow:global_step/sec: 293.91
INFO:tensorflow:step = 6101, loss = 5.8731375 (0.340 sec)
INFO:tensorflow:global_step/sec: 286.66
INFO:tensorflow:step = 6201, loss = 5.0405273 (0.352 sec)
INFO:tensorflow:global_step/sec: 294.103
INFO:tensorflow:step = 6301, loss = 4.4938946 (0.340 sec)
INFO:tensorflow:global_step/sec: 293.034
INFO:tensorflow:step = 6401, loss = 5.8599105 (0.338 sec)
INFO:tensorflow:global_step/sec: 283.017
INFO:tensorflow:step = 6501, loss = 8.347941 (0.353 sec)
INFO:tensorflow:global_step/sec: 290.903
INFO:tensorflow:step = 6601, loss = 6.767478 (0.347 sec)
INFO:tensorflow:global_step/sec: 293.645
INFO:tensorflow:step = 6701, loss = 6.894782 (0.342 sec)
INFO:tensorflow:global_step/sec: 288.633
INFO:tensorflow:step = 6801, loss = 4.3458047 (0.347 sec)
INFO:tensorflow:global_step/sec: 294.347
INFO:tensorflow:step = 6901, loss = 6.585497 (0.335 sec)
INFO:tensorflow:global_step/sec: 203.698
INFO:tensorflow:step = 7001, loss = 6.0492697 (0.503 sec)
INFO:tensorflow:global_step/sec: 170.64

INFO:tensorflow:step = 7101, loss = 4.5612707 (0.586 sec)
INFO:tensorflow:global_step/sec: 241.802
INFO:tensorflow:step = 7201, loss = 4.9945893 (0.402 sec)
INFO:tensorflow:global_step/sec: 263.056
INFO:tensorflow:step = 7301, loss = 7.3679495 (0.380 sec)
INFO:tensorflow:global_step/sec: 253.404
INFO:tensorflow:step = 7401, loss = 7.4090877 (0.395 sec)
INFO:tensorflow:global_step/sec: 252.187
INFO:tensorflow:step = 7501, loss = 5.304507 (0.395 sec)
INFO:tensorflow:global_step/sec: 255.079
INFO:tensorflow:step = 7601, loss = 5.3182 (0.392 sec)
INFO:tensorflow:global_step/sec: 262.959
INFO:tensorflow:step = 7701, loss = 4.0921545 (0.383 sec)
INFO:tensorflow:global_step/sec: 262.471
INFO:tensorflow:step = 7801, loss = 3.2083406 (0.380 sec)
INFO:tensorflow:global_step/sec: 240.107
INFO:tensorflow:step = 7901, loss = 7.0215373 (0.415 sec)
INFO:tensorflow:global_step/sec: 249.231
INFO:tensorflow:step = 8001, loss = 4.9236298 (0.402 sec)
INFO:tensorflow:global_step/sec: 262.307
INFO:tensorflow:step = 8101, loss = 4.1836467 (0.381 sec)
INFO:tensorflow:global_step/sec: 250.902
INFO:tensorflow:step = 8201, loss = 6.938272 (0.399 sec)
INFO:tensorflow:global_step/sec: 249.37
INFO:tensorflow:step = 8301, loss = 4.5105815 (0.405 sec)
INFO:tensorflow:global_step/sec: 215.069
INFO:tensorflow:step = 8401, loss = 6.0082455 (0.461 sec)
INFO:tensorflow:global_step/sec: 230.709
INFO:tensorflow:step = 8501, loss = 4.7128463 (0.433 sec)
INFO:tensorflow:global_step/sec: 270.57
INFO:tensorflow:step = 8601, loss = 6.0298343 (0.375 sec)
INFO:tensorflow:global_step/sec: 263.397
INFO:tensorflow:step = 8701, loss = 4.8135886 (0.376 sec)
INFO:tensorflow:global_step/sec: 270.004
INFO:tensorflow:step = 8801, loss = 5.783232 (0.370 sec)
INFO:tensorflow:global_step/sec: 259.55
INFO:tensorflow:step = 8901, loss = 5.274444 (0.390 sec)
INFO:tensorflow:global_step/sec: 258.869
INFO:tensorflow:step = 9001, loss = 8.368873 (0.396 sec)
INFO:tensorflow:global_step/sec: 256.447
INFO:tensorflow:step = 9101, loss = 5.554817 (0.376 sec)
INFO:tensorflow:global_step/sec: 267.882
INFO:tensorflow:step = 9201, loss = 5.268475 (0.373 sec)
INFO:tensorflow:global_step/sec: 280.41
INFO:tensorflow:step = 9301, loss = 4.0575457 (0.360 sec)
INFO:tensorflow:global_step/sec: 270.153
INFO:tensorflow:step = 9401, loss = 6.851348 (0.367 sec)
INFO:tensorflow:global_step/sec: 279.954
INFO:tensorflow:step = 9501, loss = 6.0926332 (0.357 sec)
INFO:tensorflow:global_step/sec: 287.528
INFO:tensorflow:step = 9601, loss = 9.938437 (0.353 sec)
INFO:tensorflow:global_step/sec: 274.59
INFO:tensorflow:step = 9701, loss = 4.31004 (0.358 sec)
INFO:tensorflow:global_step/sec: 265.408
INFO:tensorflow:step = 9801, loss = 4.434841 (0.377 sec)
INFO:tensorflow:global_step/sec: 279.862
INFO:tensorflow:step = 9901, loss = 5.191497 (0.358 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmp0ghy8d2x/model.ckpt.
INFO:tensorflow:Loss for final step: 4.227966.

# Evaluation and Prediction

In [77]:
def evaluate_fn_train(features, labels, batch_size):
    if labels is None:
        temp = (dict(features))
    else:
        temp = (dict(features), labels)
    print(temp)
    dataset = tf.data.Dataset.from_tensor_slices(temp)
    dataset = dataset.batch(batch_size)
    return dataset

evaluation_result = classifier.evaluate(input_fn= lambda:evaluate_fn_train(features=validation_features, labels=validation_labels, batch_size=10))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**evaluation_result))

({'Fare': 289      7.7500
18      18.0000
80       9.0000
871     52.5542
309     56.9292
767      7.7500
659    113.2750
729      7.9250
599     56.9292
150     12.5250
393    113.2750
291     91.0792
476     21.0000
535     26.2500
346     13.0000
252     26.5500
440     26.2500
872      5.0000
74      56.4958
734     13.0000
479     12.2875
673     13.0000
558     79.6500
58      27.7500
583     40.1250
41      21.0000
294      7.8958
761      7.1250
118    247.5208
75       7.6500
         ...
188     15.5000
392      7.9250
44       7.8792
663      7.4958
327     13.0000
515     34.0208
59      46.9000
148     26.0000
325    135.6333
302      0.0000
197      8.4042
570     10.5000
890      7.7500
204      8.0500
725      8.6625
880     26.0000
630     30.0000
311    262.3750
345     13.0000
797      8.6833
803      8.5167
885     29.1250
883     10.5000
696      8.0500
232     13.5000
199     13.0000
509     56.4958
374     21.0750
708    151.5500
266     39.6875
Name: Fare, Length: 236, dtype: float64, 'Pclass': 289    3
18     3
80     3
871    1
309    1
767    3
659    1
729    3
599    1
150    2
393    1
291    1
476    2
535    2
346    2
252    1
440    2
872    1
74     3
734    2
479    3
673    2
558    1
58     2
583    1
41     2
294    3
761    3
118    1
75     3
      ..
188    3
392    3
44     3
663    3
327    2
515    1
59     3
148    2
325    1
302    3
197    3
570    2
890    3
204    3
725    3
880    2
630    1
311    1
345    2
797    3
803    3
885    3
883    2
696    3
232    2
199    2
509    3
374    3
708    1
266    3
Name: Pclass, Length: 236, dtype: int64, 'Age': 289    22.00
18     31.00
80     22.00
871    47.00
309    30.00
767    30.50
659    58.00
729    25.00
599    49.00
150    51.00
393    23.00
291    19.00
476    34.00
535     7.00
346    40.00
252    62.00
440    45.00
872    33.00
74     32.00
734    23.00
479     2.00
673    31.00
558    39.00
58      5.00
583    36.00
41     27.00
294    24.00
761    41.00
118    24.00
75     25.00
       ...
188    40.00
392    28.00
44     19.00
663    36.00
327    36.00
515    47.00
59     11.00
148    36.50
325    36.00
302    19.00
197    42.00
570    62.00
890    32.00
204    18.00
725    20.00
880    25.00
630    80.00
311    18.00
345    24.00
797    31.00
803     0.42
885    39.00
883    28.00
696    44.00
232    59.00
199    24.00
509    26.00
374     3.00
708    22.00
266    16.00
Name: Age, Length: 236, dtype: float64, 'SibSp': 289    0
18     1
80     0
871    1
309    0
767    0
659    0
729    1
599    1
150    0
393    1
291    1
476    1
535    0
346    0
252    0
440    1
872    0
74     0
734    0
479    0
673    0
558    1
58     1
583    0
41     1
294    0
761    0
118    0
75     0
      ..
188    1
392    2
44     0
663    0
327    0
515    0
59     5
148    0
325    0
302    0
197    0
570    0
890    0
204    0
725    0
880    0
630    0
311    2
345    0
797    0
803    0
885    0
883    0
696    0
232    0
199    0
509    0
374    3
708    0
266    4
Name: SibSp, Length: 236, dtype: int64, 'Parch': 289    0
18     0
80     0
871    1
309    0
767    0
659    2
729    0
599    0
150    0
393    0
291    0
476    0
535    2
346    0
252    0
440    1
872    0
74     0
734    0
479    1
673    0
558    1
58     2
583    0
41     0
294    0
761    0
118    1
75     0
      ..
188    1
392    0
44     0
663    0
327    0
515    0
59     2
148    2
325    0
302    0
197    1
570    0
890    0
204    0
725    0
880    1
630    0
311    2
345    0
797    0
803    1
885    5
883    0
696    0
232    0
199    0
509    0
374    1
708    0
266    1
Name: Parch, Length: 236, dtype: int64},      Survived
289         1
18          0
80          0
871         1
309         1
767         0
659         0
729         0
599         1
150         0
393         1
291         1
476         0
535         1
346         1
252         0
440         1
872         0
74          1
734         0
479         1
673         1
558         1
58          1
583         0
41          0
294         0
761         0
118         0
75          0
..        ...
188         0
392         0
44          1
663         0
327         1
515         0
59          0
148         0
325         1
302         0
197         0
570         1
890         0
204         1
725         0
880         1
630         1
311         1
345         1
797         1
803         1
885         0
883         0
696         0
232         0
199         0
509         1
374         0
708         1
266         0

[236 rows x 1 columns])
INFO:tensorflow:Starting evaluation at 2018-03-01-15:51:11
INFO:tensorflow:Restoring parameters from /tmp/tmp0ghy8d2x/model.ckpt-10000
INFO:tensorflow:Finished evaluation at 2018-03-01-15:51:12
INFO:tensorflow:Saving dict for global step 10000: accuracy = 0.7118644, accuracy_baseline = 0.60169494, auc = 0.7350914, auc_precision_recall = 0.64030933, average_loss = 0.58892673, global_step = 10000, label/mean = 0.3983051, loss = 5.791113, prediction/mean = 0.3831922

Test set accuracy: 0.712

In [79]:
predictions = classifier.predict(input_fn= lambda:evaluate_fn_train(features=test_features, labels=None, batch_size=10))

for predict in predictions:
    #predict['class_ids'][0]
    print(predict['class_ids'][0])
    print(predict['probabilities'][predict['class_ids'][0]])
    #break

{'Fare': 12      82.2667
14      61.1750
24     262.3750
26      61.9792
28      30.5000
34      57.7500
44      52.5542
46      29.7000
48      76.2917
50      60.0000
53     263.0000
57       7.6500
59     262.3750
64     262.3750
68      28.5375
69     263.0000
73      27.7208
74     211.5000
75     211.5000
77      25.7000
81     221.7792
92      52.0000
96      78.8500
100     55.4417
109     13.0000
112     31.6792
114    221.7792
117     16.7000
118     75.2417
122     57.7500
         ...
293     81.8583
305     26.5500
306    151.5500
308     93.5000
314    135.6333
316    146.5208
321      7.2292
322     13.0000
326     39.0000
331     29.7000
335     26.0000
343    512.3292
350     63.3583
355     26.0000
356     51.4792
364     55.4417
371    134.5000
372      0.0000
374     81.8583
378     50.0000
390     93.5000
391     39.4000
395     60.0000
397     79.2000
400    164.8667
404     27.7208
405     13.8625
407    211.5000
411     90.0000
414    108.9000
Name: Fare, Length: 87, dtype: float64, 'Pclass': 12     1
14     1
24     1
26     1
28     1
34     1
44     1
46     1
48     1
50     1
53     1
57     3
59     1
64     1
68     1
69     1
73     1
74     1
75     1
77     1
81     1
92     1
96     1
100    1
109    2
112    1
114    1
117    3
118    1
122    1
      ..
293    1
305    1
306    1
308    1
314    1
316    1
321    3
322    2
326    2
331    1
335    1
343    1
350    1
355    1
356    1
364    1
371    1
372    1
374    1
378    1
390    1
391    1
395    1
397    1
400    1
404    1
405    2
407    1
411    1
414    1
Name: Pclass, Length: 87, dtype: int64, 'Age': 12     23.0
14     47.0
24     48.0
26     22.0
28     41.0
34     30.0
44     45.0
46     45.0
48     60.0
50     24.0
53     28.0
57     25.0
59     36.0
64     13.0
68     31.0
69     60.0
73     28.5
74     35.0
75     32.5
77     55.0
81     67.0
92     27.0
96     76.0
100    43.0
109    18.5
112    36.0
114    63.0
117     1.0
118    36.0
122    35.0
       ...
293    53.0
305    64.0
306    30.0
308    55.0
314    55.0
316    57.0
321    25.0
322    26.0
326    12.0
331    39.0
335    30.0
343    58.0
350    45.0
355    50.0
356    59.0
364    25.0
371    31.0
372    49.0
374    54.0
378    55.0
390    23.0
391    51.0
395    18.0
397    48.0
400    30.0
404    43.0
405    20.0
407    50.0
411    37.0
414    39.0
Name: Age, Length: 87, dtype: float64, 'SibSp': 12     1
14     1
24     1
26     0
28     0
34     1
44     1
46     0
48     0
50     1
53     3
57     0
59     0
64     2
68     0
69     1
73     0
74     0
75     0
77     2
81     1
92     1
96     1
100    1
109    0
112    0
114    1
117    1
118    0
122    1
      ..
293    1
305    1
306    1
308    1
314    0
316    1
321    0
322    0
326    2
331    0
335    0
343    0
350    0
355    0
356    2
364    1
371    0
372    0
374    1
378    0
390    0
391    0
395    1
397    1
400    0
404    1
405    0
407    1
411    1
414    0
Name: SibSp, Length: 87, dtype: int64, 'Parch': 12     0
14     0
24     3
26     1
28     0
34     0
44     0
46     0
48     0
50     0
53     2
57     0
59     0
64     2
68     0
69     4
73     0
74     0
75     0
77     0
81     0
92     2
96     0
100    0
109    0
112    0
114    0
117    1
118    0
122    0
      ..
293    1
305    1
306    2
308    1
314    0
316    0
321    0
322    0
326    1
331    0
335    0
343    1
350    1
355    0
356    0
364    0
371    0
372    0
374    1
378    0
390    0
391    1
395    0
397    1
400    0
404    0
405    0
407    1
411    0
414    0
Name: Parch, Length: 87, dtype: int64}
INFO:tensorflow:Restoring parameters from /tmp/tmp0ghy8d2x/model.ckpt-10000
1
0.71883076
1
0.627641
1
0.8553094
1
0.7167901
0
0.52254504
1
0.7071265
1
0.5062215
0
0.57011503
1
0.74774706
1
0.6986624
1
0.7923111
0
0.8139723
1
0.88894963
1
0.7989496
1
0.5046389
1
0.85881406
1
0.5213862
1
0.8617143
1
0.85912526
0
0.7097384
1
0.87881535
1
0.52901
0
0.6771289
1
0.6176825
0
0.5829952
0
0.5078334
1
0.87509364
1
0.5563938
1
0.7666676
1
0.6847494
0
0.59232944
1
0.8686378
1
0.7385056
1
0.861371
0
0.570892
1
0.5157495
0
0.6293115
0
0.70136917
1
0.6052997
1
0.72807497
1
0.68062747
1
0.843017
1
0.74227554
1
0.8624875
0
0.5007927
0
0.5070953
1
0.84657174
0
0.59628177
1
0.73557746
1
0.51327914
1
0.78041005
1
0.7856215
1
0.6048388
1
0.77421814
1
0.7816099
1
0.77270734
1
0.7205704
1
0.6349005
0
0.7462944
1
0.76363
1
0.69360626
1
0.8376361
1
0.8229835
0
0.8233013
0
0.5991453
1
0.5015071
0
0.51618457
1
0.50672585
1
0.96707594
1
0.68956435
0
0.5910632
0
0.7138519
1
0.6958665
1
0.80675995
0
0.94247913
1
0.62814766
0
0.5536623
1
0.76227903
0
0.6122048
1
0.68775535
1
0.6513375
1
0.82704335
0
0.60760707
0
0.58425343
1
0.84657174
1
0.7494154
1
0.79837304