In [35]:
"""An Example of a DNNClassifier for the Iris dataset."""
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import argparse
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split

# Titanic Training and Test data set extraction

In [36]:
titanic_train_data =  pd.read_csv('titanic_train.csv')
titanic_train_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [37]:
print(titanic_train_data['Name'].size)
print(len(titanic_train_data['Name'].unique()))

print(titanic_train_data['Sex'].size)
print(len(titanic_train_data['Sex'].unique()))

print(titanic_train_data['Ticket'].size)
print(len(titanic_train_data['Ticket'].unique()))

print(titanic_train_data['Cabin'].size)
print(len(titanic_train_data['Cabin'].unique()))

print(titanic_train_data['Embarked'].size)
print(len(titanic_train_data['Embarked'].unique()))

891
891
891
2
891
681
891
148
891
4

In [38]:
#Remove non-important details from the dataset
#titanic_train_data = titanic_train_data.drop(['PassengerId','Name','Ticket'], axis=1)
titanic_train_data = titanic_train_data.drop(['PassengerId','Name','Sex','Ticket','Cabin','Embarked'], axis=1)
titanic_train_data.head(5)

   Survived  Pclass   Age  SibSp  Parch     Fare
0         0       3  22.0      1      0   7.2500
1         1       1  38.0      1      0  71.2833
2         1       3  26.0      0      0   7.9250
3         1       1  35.0      1      0  53.1000
4         0       3  35.0      0      0   8.0500

In [39]:
print('Size before filliing null values', titanic_train_data.shape)
titanic_train_data = titanic_train_data.fillna(titanic_train_data.mode().iloc[0])
print('Size after filling null values', titanic_train_data.shape)

#Get the features and Label for Train data
all_features =  titanic_train_data.drop(['Survived'], axis=1)
all_labels = titanic_train_data[['Survived']]

train_features, validation_features, train_labels, validation_labels = train_test_split(all_features, all_labels, test_size=0.33 )

print(train_features.head(5))
print(train_labels.head(5))

print(validation_features.head(5))
print(validation_labels.head(5))

print(train_features.shape, train_labels.shape, validation_features.shape, validation_labels.shape)

Size before filliing null values (891, 6)
Size after filling null values (891, 6)
     Pclass   Age  SibSp  Parch     Fare
296       3  23.5      0      0   7.2292
9         2  14.0      1      0  30.0708
784       3  25.0      0      0   7.0500
789       1  46.0      0      0  79.2000
723       2  50.0      0      0  13.0000
     Survived
296         0
9           1
784         0
789         0
723         0
     Pclass   Age  SibSp  Parch     Fare
495       3  24.0      0      0  14.4583
91        3  20.0      0      0   7.8542
502       3  24.0      0      0   7.6292
699       3  42.0      0      0   7.6500
656       3  24.0      0      0   7.8958
     Survived
495         0
91          0
502         0
699         0
656         0
(596, 5) (596, 1) (295, 5) (295, 1)

In [40]:
titanic_test_data =  pd.read_csv('titanic_test.csv')
titanic_test_data.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [41]:
print('Size before filling null values', titanic_test_data.shape)
titanic_test_data = titanic_test_data.fillna(titanic_test_data.mode().iloc[0])
print('Size after filling null values', titanic_test_data.shape)

#test_features = titanic_test_data.drop(['PassengerId','Name','Ticket'], axis=1)
test_features = titanic_test_data.drop(['PassengerId','Name','Sex','Ticket','Cabin','Embarked'], axis=1)

test_features.head(5)

Size before filling null values (418, 11)
Size after filling null values (418, 11)

   Pclass   Age  SibSp  Parch     Fare
0       3  34.5      0      0   7.8292
1       3  47.0      1      0   7.0000
2       2  62.0      0      0   9.6875
3       3  27.0      0      0   8.6625
4       3  22.0      1      1  12.2875

# Create the Neural Networks model and Train

In [45]:
def input_fn_train(features, labels, batch_size):
    dataset = tf.data.Dataset.from_tensor_slices((dict(features),labels))
    dataset = dataset.shuffle(1000).repeat().batch(batch_size)
    #dataset.batch(batch_size)
    return dataset

feature_set = []
for feature in train_features.keys():
    if feature in ['Sex','Cabin' ,'Embarked']:
        feature_set.append(tf.feature_column.categorical_column_with_vocabulary_list(key=feature, 
                                                                                    vocabulary_list= titanic_train_data[feature].unique()))
    else:
        feature_set.append(tf.feature_column.numeric_column(key=feature))
    
print(feature_set)

classifier = tf.estimator.DNNClassifier(hidden_units=[10, 10], feature_columns=feature_set, n_classes=2)
classifier.train(input_fn= lambda:input_fn_train(train_features, train_labels, 10), steps = 1000)

[_NumericColumn(key='Pclass', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='Age', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='SibSp', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='Parch', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None), _NumericColumn(key='Fare', shape=(1,), default_value=None, dtype=tf.float32, normalizer_fn=None)]
INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpko9spbya
INFO:tensorflow:Using config: {'_save_summary_steps': 100, '_master': '', '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fe419b39198>, '_log_step_count_steps': 100, '_is_chief': True, '_keep_checkpoint_max': 5, '_task_id': 0, '_save_checkpoints_steps': None, '_num_worker_replicas': 1, '_tf_random_seed': None, '_task_type': 'worker', '_session_config': None, '_model_dir': '/tmp/tmpko9spbya', '_num_ps_replicas': 0, '_keep_checkpoint_every_n_hours': 10000, '_save_checkpoints_secs': 600}
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpko9spbya/model.ckpt.
INFO:tensorflow:step = 1, loss = 10.261383
INFO:tensorflow:global_step/sec: 206.989
INFO:tensorflow:step = 101, loss = 5.6644344 (0.493 sec)
INFO:tensorflow:global_step/sec: 269.71
INFO:tensorflow:step = 201, loss = 5.3469586 (0.365 sec)
INFO:tensorflow:global_step/sec: 278.02
INFO:tensorflow:step = 301, loss = 6.7150106 (0.359 sec)
INFO:tensorflow:global_step/sec: 277.258
INFO:tensorflow:step = 401, loss = 4.752807 (0.361 sec)
INFO:tensorflow:global_step/sec: 277.906
INFO:tensorflow:step = 501, loss = 8.418366 (0.364 sec)
INFO:tensorflow:global_step/sec: 266.306
INFO:tensorflow:step = 601, loss = 5.4882874 (0.371 sec)
INFO:tensorflow:global_step/sec: 280.828
INFO:tensorflow:step = 701, loss = 5.8103843 (0.356 sec)
INFO:tensorflow:global_step/sec: 281.774
INFO:tensorflow:step = 801, loss = 6.3768563 (0.355 sec)
INFO:tensorflow:global_step/sec: 271.786
INFO:tensorflow:step = 901, loss = 6.2135563 (0.368 sec)
INFO:tensorflow:global_step/sec: 272.802
INFO:tensorflow:step = 1001, loss = 6.3847313 (0.366 sec)
INFO:tensorflow:global_step/sec: 268.469
INFO:tensorflow:step = 1101, loss = 6.5521317 (0.374 sec)
INFO:tensorflow:global_step/sec: 224.165
INFO:tensorflow:step = 1201, loss = 5.966506 (0.445 sec)
INFO:tensorflow:global_step/sec: 203.577
INFO:tensorflow:step = 1301, loss = 7.049651 (0.500 sec)
INFO:tensorflow:global_step/sec: 255.837
INFO:tensorflow:step = 1401, loss = 5.3622065 (0.381 sec)
INFO:tensorflow:global_step/sec: 271.824
INFO:tensorflow:step = 1501, loss = 5.007909 (0.374 sec)
INFO:tensorflow:global_step/sec: 274.103
INFO:tensorflow:step = 1601, loss = 6.209858 (0.358 sec)
INFO:tensorflow:global_step/sec: 276.268
INFO:tensorflow:step = 1701, loss = 6.7867527 (0.370 sec)
INFO:tensorflow:global_step/sec: 257.893
INFO:tensorflow:step = 1801, loss = 6.383272 (0.381 sec)
INFO:tensorflow:global_step/sec: 242.457
INFO:tensorflow:step = 1901, loss = 6.9501243 (0.414 sec)
INFO:tensorflow:global_step/sec: 239.67
INFO:tensorflow:step = 2001, loss = 7.4222383 (0.418 sec)
INFO:tensorflow:global_step/sec: 258.707
INFO:tensorflow:step = 2101, loss = 4.8024197 (0.384 sec)
INFO:tensorflow:global_step/sec: 278.616
INFO:tensorflow:step = 2201, loss = 5.096665 (0.363 sec)
INFO:tensorflow:global_step/sec: 272.407
INFO:tensorflow:step = 2301, loss = 5.8217454 (0.365 sec)
INFO:tensorflow:global_step/sec: 286.147
INFO:tensorflow:step = 2401, loss = 4.775276 (0.347 sec)
INFO:tensorflow:global_step/sec: 245.828
INFO:tensorflow:step = 2501, loss = 5.611375 (0.408 sec)
INFO:tensorflow:global_step/sec: 188.338
INFO:tensorflow:step = 2601, loss = 6.490506 (0.530 sec)
INFO:tensorflow:global_step/sec: 274.494
INFO:tensorflow:step = 2701, loss = 5.481682 (0.364 sec)
INFO:tensorflow:global_step/sec: 282.763
INFO:tensorflow:step = 2801, loss = 6.321406 (0.354 sec)
INFO:tensorflow:global_step/sec: 274.398
INFO:tensorflow:step = 2901, loss = 5.5807414 (0.370 sec)
INFO:tensorflow:global_step/sec: 273.607
INFO:tensorflow:step = 3001, loss = 4.293021 (0.364 sec)
INFO:tensorflow:global_step/sec: 274.858
INFO:tensorflow:step = 3101, loss = 4.1018524 (0.359 sec)
INFO:tensorflow:global_step/sec: 279.799
INFO:tensorflow:step = 3201, loss = 4.2063856 (0.358 sec)
INFO:tensorflow:global_step/sec: 195.167
INFO:tensorflow:step = 3301, loss = 6.7803903 (0.514 sec)
INFO:tensorflow:global_step/sec: 198.029
INFO:tensorflow:step = 3401, loss = 10.164484 (0.505 sec)
INFO:tensorflow:global_step/sec: 253.776
INFO:tensorflow:step = 3501, loss = 5.743842 (0.392 sec)
INFO:tensorflow:global_step/sec: 259.151
INFO:tensorflow:step = 3601, loss = 6.245575 (0.386 sec)
INFO:tensorflow:global_step/sec: 262.148
INFO:tensorflow:step = 3701, loss = 6.5611563 (0.382 sec)
INFO:tensorflow:global_step/sec: 256.155
INFO:tensorflow:step = 3801, loss = 4.571452 (0.390 sec)
INFO:tensorflow:global_step/sec: 264.466
INFO:tensorflow:step = 3901, loss = 5.750744 (0.383 sec)
INFO:tensorflow:global_step/sec: 260.249
INFO:tensorflow:step = 4001, loss = 4.6233034 (0.379 sec)
INFO:tensorflow:global_step/sec: 276.799
INFO:tensorflow:step = 4101, loss = 7.0770183 (0.361 sec)
INFO:tensorflow:global_step/sec: 260.539
INFO:tensorflow:step = 4201, loss = 4.177756 (0.391 sec)
INFO:tensorflow:global_step/sec: 273.989
INFO:tensorflow:step = 4301, loss = 5.454729 (0.357 sec)
INFO:tensorflow:global_step/sec: 245.747
INFO:tensorflow:step = 4401, loss = 7.992871 (0.407 sec)
INFO:tensorflow:global_step/sec: 258.713
INFO:tensorflow:step = 4501, loss = 5.778198 (0.386 sec)
INFO:tensorflow:global_step/sec: 248.314
INFO:tensorflow:step = 4601, loss = 4.6202774 (0.409 sec)
INFO:tensorflow:global_step/sec: 215.15
INFO:tensorflow:step = 4701, loss = 9.124346 (0.465 sec)
INFO:tensorflow:global_step/sec: 189.31
INFO:tensorflow:step = 4801, loss = 5.3637867 (0.523 sec)
INFO:tensorflow:global_step/sec: 214.193
INFO:tensorflow:step = 4901, loss = 9.15641 (0.468 sec)
INFO:tensorflow:global_step/sec: 253.565
INFO:tensorflow:step = 5001, loss = 7.0239506 (0.392 sec)
INFO:tensorflow:global_step/sec: 237.028
INFO:tensorflow:step = 5101, loss = 6.674674 (0.423 sec)
INFO:tensorflow:global_step/sec: 265.592
INFO:tensorflow:step = 5201, loss = 5.865401 (0.377 sec)
INFO:tensorflow:global_step/sec: 283.754
INFO:tensorflow:step = 5301, loss = 3.3167477 (0.353 sec)
INFO:tensorflow:global_step/sec: 275.708
INFO:tensorflow:step = 5401, loss = 7.434879 (0.366 sec)
INFO:tensorflow:global_step/sec: 178.723
INFO:tensorflow:step = 5501, loss = 6.0174313 (0.565 sec)
INFO:tensorflow:global_step/sec: 177.032
INFO:tensorflow:step = 5601, loss = 5.091732 (0.556 sec)
INFO:tensorflow:global_step/sec: 226.305
INFO:tensorflow:step = 5701, loss = 5.745332 (0.441 sec)
INFO:tensorflow:global_step/sec: 250.999
INFO:tensorflow:step = 5801, loss = 5.864298 (0.402 sec)
INFO:tensorflow:global_step/sec: 264.875
INFO:tensorflow:step = 5901, loss = 6.3106084 (0.378 sec)
INFO:tensorflow:global_step/sec: 262.106
INFO:tensorflow:step = 6001, loss = 5.0858 (0.377 sec)
INFO:tensorflow:global_step/sec: 249.556
INFO:tensorflow:step = 6101, loss = 5.8089657 (0.404 sec)
INFO:tensorflow:global_step/sec: 238.276
INFO:tensorflow:step = 6201, loss = 5.0338845 (0.431 sec)
INFO:tensorflow:global_step/sec: 260.676
INFO:tensorflow:step = 6301, loss = 3.6365676 (0.370 sec)
INFO:tensorflow:global_step/sec: 248.728
INFO:tensorflow:step = 6401, loss = 6.546087 (0.402 sec)
INFO:tensorflow:global_step/sec: 253.891
INFO:tensorflow:step = 6501, loss = 4.9465375 (0.401 sec)
INFO:tensorflow:global_step/sec: 239.239
INFO:tensorflow:step = 6601, loss = 5.341271 (0.412 sec)
INFO:tensorflow:global_step/sec: 290.243
INFO:tensorflow:step = 6701, loss = 8.110026 (0.344 sec)
INFO:tensorflow:global_step/sec: 271.976
INFO:tensorflow:step = 6801, loss = 4.023778 (0.375 sec)
INFO:tensorflow:global_step/sec: 187.329
INFO:tensorflow:step = 6901, loss = 5.109244 (0.533 sec)
INFO:tensorflow:global_step/sec: 237.627
INFO:tensorflow:step = 7001, loss = 3.1496208 (0.413 sec)
INFO:tensorflow:global_step/sec: 268.741

INFO:tensorflow:step = 7101, loss = 6.5300674 (0.375 sec)
INFO:tensorflow:global_step/sec: 283.4
INFO:tensorflow:step = 7201, loss = 6.687435 (0.356 sec)
INFO:tensorflow:global_step/sec: 274.507
INFO:tensorflow:step = 7301, loss = 3.7713702 (0.364 sec)
INFO:tensorflow:global_step/sec: 271.318
INFO:tensorflow:step = 7401, loss = 3.1882653 (0.367 sec)
INFO:tensorflow:global_step/sec: 287.68
INFO:tensorflow:step = 7501, loss = 6.2009697 (0.343 sec)
INFO:tensorflow:global_step/sec: 280.847
INFO:tensorflow:step = 7601, loss = 5.601495 (0.362 sec)
INFO:tensorflow:global_step/sec: 272.011
INFO:tensorflow:step = 7701, loss = 5.0145493 (0.366 sec)
INFO:tensorflow:global_step/sec: 291.842
INFO:tensorflow:step = 7801, loss = 6.3181725 (0.338 sec)
INFO:tensorflow:global_step/sec: 285.301
INFO:tensorflow:step = 7901, loss = 4.375243 (0.351 sec)
INFO:tensorflow:global_step/sec: 273.073
INFO:tensorflow:step = 8001, loss = 6.353567 (0.366 sec)
INFO:tensorflow:global_step/sec: 294.347
INFO:tensorflow:step = 8101, loss = 7.5099607 (0.340 sec)
INFO:tensorflow:global_step/sec: 275.647
INFO:tensorflow:step = 8201, loss = 5.870811 (0.362 sec)
INFO:tensorflow:global_step/sec: 278.685
INFO:tensorflow:step = 8301, loss = 3.7216563 (0.360 sec)
INFO:tensorflow:global_step/sec: 283.268
INFO:tensorflow:step = 8401, loss = 6.1476955 (0.353 sec)
INFO:tensorflow:global_step/sec: 281.946
INFO:tensorflow:step = 8501, loss = 8.058349 (0.354 sec)
INFO:tensorflow:global_step/sec: 281.866
INFO:tensorflow:step = 8601, loss = 6.0883193 (0.355 sec)
INFO:tensorflow:global_step/sec: 272.911
INFO:tensorflow:step = 8701, loss = 7.478912 (0.366 sec)
INFO:tensorflow:global_step/sec: 279
INFO:tensorflow:step = 8801, loss = 4.632961 (0.359 sec)
INFO:tensorflow:global_step/sec: 281.95
INFO:tensorflow:step = 8901, loss = 3.5288777 (0.359 sec)
INFO:tensorflow:global_step/sec: 258.709
INFO:tensorflow:step = 9001, loss = 4.509621 (0.383 sec)
INFO:tensorflow:global_step/sec: 281.439
INFO:tensorflow:step = 9101, loss = 4.330994 (0.360 sec)
INFO:tensorflow:global_step/sec: 280.636
INFO:tensorflow:step = 9201, loss = 5.5688844 (0.352 sec)
INFO:tensorflow:global_step/sec: 272.614
INFO:tensorflow:step = 9301, loss = 6.2818365 (0.367 sec)
INFO:tensorflow:global_step/sec: 286.397
INFO:tensorflow:step = 9401, loss = 5.641142 (0.349 sec)
INFO:tensorflow:global_step/sec: 192.163
INFO:tensorflow:step = 9501, loss = 6.4424663 (0.523 sec)
INFO:tensorflow:global_step/sec: 275.852
INFO:tensorflow:step = 9601, loss = 6.380747 (0.360 sec)
INFO:tensorflow:global_step/sec: 268.292
INFO:tensorflow:step = 9701, loss = 6.1313806 (0.372 sec)
INFO:tensorflow:global_step/sec: 258.627
INFO:tensorflow:step = 9801, loss = 7.250474 (0.387 sec)
INFO:tensorflow:global_step/sec: 258.457
INFO:tensorflow:step = 9901, loss = 3.9072235 (0.387 sec)
INFO:tensorflow:Saving checkpoints for 10000 into /tmp/tmpko9spbya/model.ckpt.
INFO:tensorflow:Loss for final step: 5.6244993.

# Evaluation and Prediction

In [46]:
def evaluate_fn_train(features, labels, batch_size):
    if labels is None:
        temp = (dict(features))
    else:
        temp = (dict(features), labels)
    print(temp)
    dataset = tf.data.Dataset.from_tensor_slices(temp)
    dataset = dataset.batch(batch_size)
    return dataset

evaluation_result = classifier.evaluate(input_fn= lambda:evaluate_fn_train(features=validation_features, labels=validation_labels, batch_size=10))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**evaluation_result))

({'SibSp': 495    0
91     0
502    0
699    0
656    0
298    0
276    0
628    0
443    0
708    0
583    0
471    0
101    0
680    0
31     1
342    0
863    8
274    0
786    0
527    0
767    0
11     0
121    0
20     0
683    5
104    2
516    0
647    0
561    0
222    0
      ..
704    1
34     1
188    1
674    0
662    0
430    0
635    0
303    0
876    0
836    0
308    1
339    0
365    0
865    0
403    1
368    0
866    1
598    0
474    0
590    0
286    0
426    1
230    1
725    0
778    0
64     0
374    3
478    0
695    0
617    1
Name: SibSp, Length: 295, dtype: int64, 'Fare': 495     14.4583
91       7.8542
502      7.6292
699      7.6500
656      7.8958
298     30.5000
276      7.7500
628      7.8958
443     13.0000
708    151.5500
583     40.1250
471      8.6625
101      7.8958
680      8.1375
31     146.5208
342     13.0000
863     69.5500
274      7.7500
786      7.4958
527    221.7792
767      7.7500
11      26.5500
121      8.0500
20      26.0000
683     46.9000
104      7.9250
516     10.5000
647     35.5000
561      7.8958
222      8.0500
         ...
704      7.8542
34      82.1708
188     15.5000
674      0.0000
662     25.5875
430     26.5500
635     13.0000
303     12.3500
876      9.8458
836      8.6625
308     24.0000
339     35.5000
365      7.2500
865     13.0000
403     15.8500
368      7.7500
866     13.8583
598      7.2250
474      9.8375
590      7.1250
286      9.5000
426     26.0000
230     83.4750
725      8.6625
778      7.7375
64      27.7208
374     21.0750
478      7.5208
695     13.5000
617     16.1000
Name: Fare, Length: 295, dtype: float64, 'Pclass': 495    3
91     3
502    3
699    3
656    3
298    1
276    3
628    3
443    2
708    1
583    1
471    3
101    3
680    3
31     1
342    2
863    3
274    3
786    3
527    1
767    3
11     1
121    3
20     2
683    3
104    3
516    2
647    1
561    3
222    3
      ..
704    3
34     1
188    3
674    2
662    1
430    1
635    2
303    2
876    3
836    3
308    2
339    1
365    3
865    2
403    3
368    3
866    2
598    3
474    3
590    3
286    3
426    2
230    1
725    3
778    3
64     1
374    3
478    3
695    2
617    3
Name: Pclass, Length: 295, dtype: int64, 'Age': 495    24.0
91     20.0
502    24.0
699    42.0
656    24.0
298    24.0
276    45.0
628    26.0
443    28.0
708    22.0
583    36.0
471    38.0
101    24.0
680    24.0
31     24.0
342    28.0
863    24.0
274    24.0
786    18.0
527    24.0
767    30.5
11     58.0
121    24.0
20     35.0
683    14.0
104    37.0
516    34.0
647    56.0
561    40.0
222    51.0
       ...
704    26.0
34     28.0
188    40.0
674    24.0
662    47.0
430    28.0
635    28.0
303    24.0
876    20.0
836    21.0
308    30.0
339    45.0
365    30.0
865    42.0
403    28.0
368    24.0
866    27.0
598    24.0
474    22.0
590    35.0
286    30.0
426    28.0
230    35.0
725    20.0
778    24.0
64     24.0
374     3.0
478    22.0
695    52.0
617    26.0
Name: Age, Length: 295, dtype: float64, 'Parch': 495    0
91     0
502    0
699    0
656    0
298    0
276    0
628    0
443    0
708    0
583    0
471    0
101    0
680    0
31     0
342    0
863    2
274    0
786    0
527    0
767    0
11     0
121    0
20     0
683    2
104    0
516    0
647    0
561    0
222    0
      ..
704    0
34     0
188    1
674    0
662    0
430    0
635    0
303    0
876    0
836    0
308    0
339    0
365    0
865    0
403    0
368    0
866    0
598    0
474    0
590    0
286    0
426    0
230    0
725    0
778    0
64     0
374    1
478    0
695    0
617    0
Name: Parch, Length: 295, dtype: int64},      Survived
495         0
91          0
502         0
699         0
656         0
298         1
276         0
628         0
443         1
708         1
583         0
471         0
101         0
680         0
31          1
342         0
863         0
274         1
786         1
527         0
767         0
11          1
121         0
20          0
683         0
104         0
516         1
647         1
561         0
222         0
..        ...
704         0
34          0
188         0
674         0
662         0
430         1
635         1
303         1
876         0
836         0
308         0
339         0
365         0
865         1
403         0
368         1
866         1
598         0
474         0
590         0
286         1
426         1
230         1
725         0
778         0
64          0
374         0
478         0
695         0
617         0

[295 rows x 1 columns])
INFO:tensorflow:Starting evaluation at 2018-03-02-12:29:16
INFO:tensorflow:Restoring parameters from /tmp/tmpko9spbya/model.ckpt-10000
INFO:tensorflow:Finished evaluation at 2018-03-02-12:29:17
INFO:tensorflow:Saving dict for global step 10000: accuracy = 0.7186441, accuracy_baseline = 0.620339, auc = 0.75817233, auc_precision_recall = 0.6543748, average_loss = 0.56233066, global_step = 10000, label/mean = 0.37966102, loss = 5.529585, prediction/mean = 0.4052734

Test set accuracy: 0.719

In [47]:
predictions = classifier.predict(input_fn= lambda:evaluate_fn_train(features=test_features, labels=None, batch_size=10))

for predict in predictions:
    #predict['class_ids'][0]
    print(predict['class_ids'][0])
    print(predict['probabilities'][predict['class_ids'][0]])
    #break

{'SibSp': 0      0
1      1
2      0
3      0
4      1
5      0
6      0
7      1
8      0
9      2
10     0
11     0
12     1
13     1
14     1
15     1
16     0
17     0
18     1
19     0
20     1
21     0
22     0
23     0
24     1
25     1
26     0
27     0
28     0
29     2
      ..
388    0
389    3
390    0
391    0
392    0
393    0
394    3
395    1
396    0
397    1
398    0
399    0
400    0
401    1
402    0
403    0
404    1
405    0
406    1
407    1
408    0
409    1
410    0
411    1
412    0
413    0
414    0
415    0
416    0
417    1
Name: SibSp, Length: 418, dtype: int64, 'Fare': 0        7.8292
1        7.0000
2        9.6875
3        8.6625
4       12.2875
5        9.2250
6        7.6292
7       29.0000
8        7.2292
9       24.1500
10       7.8958
11      26.0000
12      82.2667
13      26.0000
14      61.1750
15      27.7208
16      12.3500
17       7.2250
18       7.9250
19       7.2250
20      59.4000
21       3.1708
22      31.6833
23      61.3792
24     262.3750
25      14.5000
26      61.9792
27       7.2250
28      30.5000
29      21.6792
         ...
388      7.7500
389     21.0750
390     93.5000
391     39.4000
392     20.2500
393     10.5000
394     22.0250
395     60.0000
396      7.2500
397     79.2000
398      7.7750
399      7.7333
400    164.8667
401     21.0000
402     59.4000
403     47.1000
404     27.7208
405     13.8625
406     10.5000
407    211.5000
408      7.7208
409     13.7750
410      7.7500
411     90.0000
412      7.7750
413      8.0500
414    108.9000
415      7.2500
416      8.0500
417     22.3583
Name: Fare, Length: 418, dtype: float64, 'Pclass': 0      3
1      3
2      2
3      3
4      3
5      3
6      3
7      2
8      3
9      3
10     3
11     1
12     1
13     2
14     1
15     2
16     2
17     3
18     3
19     3
20     1
21     3
22     1
23     1
24     1
25     3
26     1
27     3
28     1
29     3
      ..
388    3
389    3
390    1
391    1
392    3
393    2
394    3
395    1
396    3
397    1
398    3
399    3
400    1
401    2
402    1
403    1
404    1
405    2
406    2
407    1
408    3
409    3
410    3
411    1
412    3
413    3
414    1
415    3
416    3
417    3
Name: Pclass, Length: 418, dtype: int64, 'Age': 0      34.5
1      47.0
2      62.0
3      27.0
4      22.0
5      14.0
6      30.0
7      26.0
8      18.0
9      21.0
10     21.0
11     46.0
12     23.0
13     63.0
14     47.0
15     24.0
16     35.0
17     21.0
18     27.0
19     45.0
20     55.0
21      9.0
22     21.0
23     21.0
24     48.0
25     50.0
26     22.0
27     22.5
28     41.0
29     21.0
       ...
388    21.0
389     6.0
390    23.0
391    51.0
392    13.0
393    47.0
394    29.0
395    18.0
396    24.0
397    48.0
398    22.0
399    31.0
400    30.0
401    38.0
402    22.0
403    17.0
404    43.0
405    20.0
406    23.0
407    50.0
408    21.0
409     3.0
410    21.0
411    37.0
412    28.0
413    21.0
414    39.0
415    38.5
416    21.0
417    21.0
Name: Age, Length: 418, dtype: float64, 'Parch': 0      0
1      0
2      0
3      0
4      1
5      0
6      0
7      1
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     1
22     0
23     1
24     3
25     0
26     1
27     0
28     0
29     0
      ..
388    0
389    1
390    0
391    1
392    2
393    0
394    1
395    0
396    0
397    1
398    0
399    0
400    0
401    0
402    1
403    0
404    0
405    0
406    0
407    1
408    0
409    1
410    0
411    0
412    0
413    0
414    0
415    0
416    0
417    1
Name: Parch, Length: 418, dtype: int64}
INFO:tensorflow:Restoring parameters from /tmp/tmpko9spbya/model.ckpt-10000
0
0.8205305
0
0.9015268
0
0.8858876
0
0.74724406
0
0.6184966
0
0.54850304
0
0.7935085
1
0.57672846
0
0.7067405
0
0.5266717
0
0.7140362
0
0.65576816
1
0.79624593
0
0.6692286
1
0.67781216
1
0.5651803
0
0.62766814
0
0.7309116
0
0.77109194
0
0.8869273
1
0.580657
0
0.69214904
1
0.72413766
1
0.8266218
1
0.59502816
0
0.8030751
1
0.8193818
0
0.74374646
0
0.5944568
0
0.56623644
0
0.712431
1
0.5365945
0
0.6217201
1
0.50670516
1
0.61861956
0
0.7086683
0
0.7100684
0
0.6939918
0
0.70899105
1
0.8241298
0
0.7005536
1
0.67637867
0
0.8587016
0
0.5990436
1
0.6388553
0
0.7480333
0
0.67020774
0
0.7177576
1
0.76869845
0
0.559245
1
0.6260358
0
0.63791597
0
0.5530137
1
0.66475064
0
0.5296046
0
0.77738297
0
0.8225442
0
0.75448215
0
0.60570663
1
0.77411336
0
0.6520804
0
0.59893954
0
0.68911254
0
0.72724503
1
0.821242
1
0.5577088
0
0.68154603
0
0.50640786
1
0.5444294
0
0.5293204
0
0.7438213
0
0.7140362
0
0.7798678
1
0.57377267
1
0.77046317
1
0.73552066
0
0.7100684
0
0.6278082
0
0.5990436
0
0.7438213
1
0.5552753
1
0.95785046
0
0.64514285
0
0.7140362
0
0.5988965
0
0.63080984
0
0.765356
0
0.67214745
0
0.7177576
1
0.6411903
0
0.65481347
0
0.71712166
0
0.5656958
0
0.7100684
1
0.60506994
0
0.7510769
1
0.5347234
0
0.7798678
0
0.7060139
0
0.80627036
1
0.6746516
0
0.51381373
0
0.7177576
0
0.7597229
0
0.61929387
0
0.5737855
0
0.7159541
0
0.7177576
0
0.6926576
0
0.5283248
0
0.6104078
0
0.7170147
1
0.5093851
0
0.7071266
1
0.95938736
0
0.5816258
0
0.7499007
1
0.6288196
1
0.7640226
0
0.54804224
1
0.62508994
0
0.72538453
1
0.63870174
0
0.78674597
0
0.7177576
1
0.5427519
0
0.725479
0
0.5411488
0
0.6791698
0
0.73658144
0
0.7992749
0
0.6657581
0
0.55052465
0
0.7569532
0
0.86843294
0
0.74132156
0
0.7759605
0
0.6139144
0
0.727919
0
0.7974751
0
0.8373575
1
0.8787301
1
0.61533505
1
0.5184568
0
0.66963035
0
0.74176496
1
0.80512494
0
0.71908
1
0.67637867
0
0.5333628
1
0.81649673
0
0.7140362
0
0.93576014
0
0.6691937
0
0.8147243
0
0.7485748
1
0.77358365
0
0.7327583
0
0.66963035
0
0.54229176
0
0.7181821
1
0.55952066
0
0.6211708
0
0.736429
0
0.66946626
0
0.56516623
1
0.6056276
0
0.6612606
1
0.6927197
0
0.69537824
0
0.7228145
0
0.7797778
0
0.670183
0
0.73080796
0
0.6865818
1
0.73065543
1
0.74515194
1
0.5345288
1
0.55987287
1
0.6495858
0
0.5990436
1
0.55382985
1
0.66781557
0
0.7177576
1
0.7649953
0
0.60588294
1
0.5889748
0
0.6888821
0
0.96291184
0
0.6596163
0
0.6309978
1
0.66854787
1
0.5616751
0
0.8417195
1
0.6531551
0
0.8100797
1
0.81030345
0
0.6873763
0
0.58829284
0
0.708451
0
0.56714445
1
0.68113047
1
0.8196607
1
0.56272644
0
0.58072615
1
0.6648373
0
0.8251992
0
0.5845145
0
0.50302553
0
0.7487232
0
0.63929415
0
0.7352092
1
0.8676563
0
0.6794909
1
0.90713286
1
0.5804372
0
0.7144614
1
0.8395405
1
0.80974996
0
0.7100684
0
0.61602527
0
0.7100684
0
0.5920608
0
0.7165918
0
0.65119207
0
0.50772977
0
0.734191
0
0.7177576
0
0.705284
0
0.61888975
1
0.8488189
1
0.67637867
0
0.7556045
0
0.7144614
1
0.62484443
0
0.7060139
1
0.6751045
0
0.7221329
0
0.53719705
1
0.60824406
0
0.64794636
0
0.63738126
1
0.80888605
0
0.7142488
1
0.50670516
1
0.6745514
1
0.5406901
0
0.63144654
0
0.54804224
0
0.63080984
1
0.6490929
0
0.7041662
1
0.73663217
0
0.7043846
0
0.77239585
0
0.7228145
0
0.7177576
0
0.76941705
0
0.53688145
0
0.71712166
0
0.7100516
0
0.715101
1
0.5167189
1
0.58782846
0
0.5951632
0
0.7140362
0
0.7312684
0
0.7228145
0
0.7100684
0
0.6075984
1
0.7564879
0
0.7177576
1
0.7173392
0
0.6149309
0
0.7309116
1
0.604909
0
0.6094721
0
0.7209107
0
0.64215595
0
0.5920608
0
0.71243125
1
0.61423993
0
0.7177576
1
0.5679847
1
0.625294
0
0.8400922
0
0.7302941
1
0.7845443
0
0.73080796
0
0.7100684
1
0.73913616
0
0.8071262
0
0.73080796
1
0.5683868
0
0.798435
0
0.75694466
1
0.6694557
0
0.56623644
1
0.75150114
0
0.78138953
0
0.8047548
0
0.5381852
0
0.59057474
0
0.72139823
0
0.7177576
0
0.5230236
1
0.59219843
1
0.71610653
1
0.5496441
0
0.77449167
0
0.6373346
0
0.7395131
0
0.72218543
0
0.8375828
1
0.87437576
0
0.6612971
1
0.76913697
0
0.5767402
0
0.76591885
1
0.5290622
0
0.7597229
0
0.7641326
0
0.6139144
0
0.52193296
1
0.83236545
0
0.7520524
0
0.62300676
1
0.74950296
0
0.54804224
0
0.5708423
0
0.58672273
0
0.5736214
0
0.7309116
0
0.5466409
0
0.7649815
1
0.52071285
0
0.59153736
0
0.81135416
1
0.653769
0
0.73080796
0
0.5598759
0
0.80858684
0
0.5522947
1
0.8840469
0
0.5998575
0
0.6368054
0
0.6139144
0
0.85194
0
0.6128263
0
0.6119708
1
0.7013201
0
0.58072615
1
0.8784282
1
0.51316553
1
0.63321143
0
0.6415682
0
0.659133
0
0.7144614
0
0.7177576
0
0.70748836
0
0.94804734
1
0.5655118
0
0.6119708
0
0.74724406
1
0.60337615
0
0.5522947
0
0.6307481
1
0.7429547
1
0.7091272
0
0.61533666
0
0.6149116
1
0.8869695
0
0.90363586
0
0.6981137
1
0.5726034
1
0.796605
0
0.7188903
0
0.5944169
0
0.5210652
0
0.74020725
0
0.7177576
0
0.7573278
0
0.5829401
0
0.5724381
0
0.5728208
1
0.57299286
0
0.7432229
0
0.8042006
0
0.7177576
0
0.6669299
1
0.87452245
0
0.5906602
1
0.6146727
0
0.7832382
0
0.7253534
1
0.7189237
0
0.7555943
1
0.55340916
0
0.72599864
0
0.79856133
1
0.8137583
0
0.68717045
1
0.80567545
1
0.82273924
0
0.6932708
0
0.54011
0
0.59276336
1
0.80974996
0
0.7184995
1
0.5459547
0
0.7177576
1
0.65561813
0
0.77548295
0
0.7100684
1
0.8945028
0
0.8543807
0
0.7100684
1
0.5257586