In [1]:
"""An Example of a DNNClassifier for the Iris dataset."""
from __future__ import absolute_import
from __future__ import division
from __future__ import print_function

import argparse
import tensorflow as tf
import pandas as pd
from sklearn.model_selection import train_test_split

# Titanic Training and Test data set extraction

In [2]:
titanic_train_data =  pd.read_csv('titanic_train.csv')
titanic_train_data.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
print(titanic_train_data['Name'].size)
print(len(titanic_train_data['Name'].unique()))

print(titanic_train_data['Sex'].size)
print(len(titanic_train_data['Sex'].unique()))

print(titanic_train_data['Ticket'].size)
print(len(titanic_train_data['Ticket'].unique()))

print(titanic_train_data['Cabin'].size)
print(len(titanic_train_data['Cabin'].unique()))

print(titanic_train_data['Embarked'].size)
print(len(titanic_train_data['Embarked'].unique()))

891
891
891
2
891
681
891
148
891
4

In [4]:
#Remove non-important details from the dataset
titanic_train_data = titanic_train_data.drop(['PassengerId','Name','Ticket'], axis=1)
#titanic_train_data = titanic_train_data.drop(['PassengerId','Name','Sex','Ticket','Cabin','Embarked'], axis=1)
titanic_train_data.head(5)

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Cabin Embarked
0         0       3    male  22.0      1      0   7.2500   NaN        S
1         1       1  female  38.0      1      0  71.2833   C85        C
2         1       3  female  26.0      0      0   7.9250   NaN        S
3         1       1  female  35.0      1      0  53.1000  C123        S
4         0       3    male  35.0      0      0   8.0500   NaN        S

In [5]:
print('Size before filliing null values', titanic_train_data.shape)
titanic_train_data = titanic_train_data.fillna(titanic_train_data.mode().iloc[0])
print('Size after filling null values', titanic_train_data.shape)

#Get the features and Label for Train data
all_features =  titanic_train_data.drop(['Survived'], axis=1)
all_labels = titanic_train_data[['Survived']]

train_features, validation_features, train_labels, validation_labels = train_test_split(all_features, all_labels, test_size=0.33 )

print(train_features.head(5))
print(train_labels.head(5))

print(validation_features.head(5))
print(validation_labels.head(5))

print(train_features.shape, train_labels.shape, validation_features.shape, validation_labels.shape)

Size before filliing null values (891, 9)
Size after filling null values (891, 9)
     Pclass     Sex   Age  SibSp  Parch      Fare    Cabin Embarked
556       1  female  48.0      1      0   39.6000      A16        C
694       1    male  60.0      0      0   26.5500  B96 B98        S
458       2  female  50.0      0      0   10.5000  B96 B98        S
730       1  female  29.0      0      0  211.3375       B5        S
504       1  female  16.0      0      0   86.5000      B79        S
     Survived
556         1
694         0
458         1
730         1
504         1
     Pclass     Sex   Age  SibSp  Parch      Fare        Cabin Embarked
498       1  female  25.0      1      2  151.5500      C22 C26        S
285       3    male  33.0      0      0    8.6625      B96 B98        C
438       1    male  64.0      1      4  263.0000  C23 C25 C27        S
436       3  female  21.0      2      2   34.3750      B96 B98        S
492       1    male  55.0      0      0   30.5000          C30        S
     Survived
498         0
285         0
438         0
436         0
492         0
(596, 8) (596, 1) (295, 8) (295, 1)

In [6]:
titanic_test_data =  pd.read_csv('titanic_test.csv')
titanic_test_data.head(5)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
print('Size before filling null values', titanic_test_data.shape)
titanic_test_data = titanic_test_data.fillna(titanic_test_data.mode().iloc[0])
print('Size after filling null values', titanic_test_data.shape)

test_features = titanic_test_data.drop(['PassengerId','Name','Ticket'], axis=1)
#test_features = titanic_test_data.drop(['PassengerId','Name','Sex','Ticket','Cabin','Embarked'], axis=1)

test_features.head(5)

Size before filling null values (418, 11)
Size after filling null values (418, 11)

   Pclass     Sex   Age  SibSp  Parch     Fare            Cabin Embarked
0       3    male  34.5      0      0   7.8292  B57 B59 B63 B66        Q
1       3  female  47.0      1      0   7.0000  B57 B59 B63 B66        S
2       2    male  62.0      0      0   9.6875  B57 B59 B63 B66        Q
3       3    male  27.0      0      0   8.6625  B57 B59 B63 B66        S
4       3  female  22.0      1      1  12.2875  B57 B59 B63 B66        S

# Create the Neural Networks model and Train

## Added Indicator colums to include categories which are not numerical
#### This improved the results

In [9]:
def input_fn_train(features, labels, batch_size):
    dataset = tf.data.Dataset.from_tensor_slices((dict(features),labels))
    dataset = dataset.shuffle(1000).repeat().batch(batch_size)
    #dataset.batch(batch_size)
    return dataset

feature_set = []
for feature in train_features.keys():
    if feature in ['Sex','Cabin' ,'Embarked']:
        categoryColumn =  tf.feature_column.categorical_column_with_vocabulary_list(key=feature, vocabulary_list= titanic_train_data[feature].unique())
        indicatorColumn = tf.feature_column.indicator_column(categoryColumn)
        feature_set.append(indicatorColumn)
    else:
        feature_set.append(tf.feature_column.numeric_column(key=feature))
    
#print(feature_set)

classifier = tf.estimator.DNNClassifier(hidden_units=[10, 10], feature_columns=feature_set, n_classes=2)
classifier.train(input_fn= lambda:input_fn_train(train_features, train_labels, 10), steps = 1000)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpaawc2gza
INFO:tensorflow:Using config: {'_service': None, '_task_type': 'worker', '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_num_worker_replicas': 1, '_is_chief': True, '_keep_checkpoint_every_n_hours': 10000, '_keep_checkpoint_max': 5, '_save_summary_steps': 100, '_task_id': 0, '_master': '', '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7fb28b6339e8>, '_log_step_count_steps': 100, '_model_dir': '/tmp/tmpaawc2gza', '_session_config': None, '_tf_random_seed': None, '_num_ps_replicas': 0}
INFO:tensorflow:Create CheckpointSaverHook.
INFO:tensorflow:Saving checkpoints for 1 into /tmp/tmpaawc2gza/model.ckpt.
INFO:tensorflow:loss = 25.86972, step = 1
INFO:tensorflow:global_step/sec: 180.632
INFO:tensorflow:loss = 6.169763, step = 101 (0.558 sec)
INFO:tensorflow:global_step/sec: 242.328
INFO:tensorflow:loss = 7.4599714, step = 201 (0.413 sec)
INFO:tensorflow:global_step/sec: 230.572
INFO:tensorflow:loss = 5.239303, step = 301 (0.434 sec)
INFO:tensorflow:global_step/sec: 247.087
INFO:tensorflow:loss = 5.0655727, step = 401 (0.406 sec)
INFO:tensorflow:global_step/sec: 231.028
INFO:tensorflow:loss = 4.3858867, step = 501 (0.436 sec)
INFO:tensorflow:global_step/sec: 232.61
INFO:tensorflow:loss = 5.0640135, step = 601 (0.426 sec)
INFO:tensorflow:global_step/sec: 251.461
INFO:tensorflow:loss = 4.722737, step = 701 (0.398 sec)
INFO:tensorflow:global_step/sec: 229.257
INFO:tensorflow:loss = 4.9777784, step = 801 (0.444 sec)
INFO:tensorflow:global_step/sec: 183.161
INFO:tensorflow:loss = 2.4080105, step = 901 (0.538 sec)
INFO:tensorflow:Saving checkpoints for 1000 into /tmp/tmpaawc2gza/model.ckpt.
INFO:tensorflow:Loss for final step: 1.7794613.

# Evaluation and Prediction

In [10]:
def evaluate_fn_train(features, labels, batch_size):
    if labels is None:
        temp = (dict(features))
    else:
        temp = (dict(features), labels)
    #print(temp)
    dataset = tf.data.Dataset.from_tensor_slices(temp)
    dataset = dataset.batch(batch_size)
    return dataset

evaluation_result = classifier.evaluate(input_fn= lambda:evaluate_fn_train(features=validation_features, labels=validation_labels, batch_size=10))

print('\nTest set accuracy: {accuracy:0.3f}\n'.format(**evaluation_result))

INFO:tensorflow:Starting evaluation at 2018-03-06-14:11:34
INFO:tensorflow:Restoring parameters from /tmp/tmpaawc2gza/model.ckpt-1000
INFO:tensorflow:Finished evaluation at 2018-03-06-14:11:36
INFO:tensorflow:Saving dict for global step 1000: accuracy = 0.8169491, accuracy_baseline = 0.61694914, auc = 0.86190796, auc_precision_recall = 0.8193956, average_loss = 0.43662214, global_step = 1000, label/mean = 0.38305086, loss = 4.293451, prediction/mean = 0.32680994

Test set accuracy: 0.817

In [12]:
predictions = classifier.predict(input_fn= lambda:evaluate_fn_train(features=test_features, labels=None, batch_size=10))

for predict in predictions:
    #predict['class_ids'][0]
    print(predict['class_ids'][0],predict['probabilities'][predict['class_ids'][0]])

INFO:tensorflow:Restoring parameters from /tmp/tmpaawc2gza/model.ckpt-1000
0 0.8886154
1 0.5517419
0 0.87909746
0 0.9006703
1 0.52259415
0 0.8382539
1 0.72432184
0 0.87574214
1 0.6344757
0 0.92474127
0 0.8928198
0 0.75110996
1 0.96240765
0 0.89025044
1 0.87946206
1 0.76899487
0 0.8167035
0 0.9051723
1 0.5696266
1 0.60035074
0 0.73354566
0 0.630848
1 0.919497
0 0.68898904
1 0.99038625
0 0.9347001
1 0.9404273
0 0.9092298
0 0.7078461
0 0.9349901
0 0.87775886
0 0.87665945
0 0.5262738
1 0.5047946
0 0.76304257
0 0.8901041
1 0.66997236
1 0.6727608
0 0.8979363
0 0.80981123
0 0.93171835
0 0.68980575
0 0.9170473
1 0.8045397
1 0.9535297
0 0.89995
0 0.7463152
0 0.8731879
1 0.9605033
1 0.5435662
0 0.6403101
0 0.84920067
1 0.64180255
1 0.97377366
0 0.8409676
0 0.8979747
0 0.9097667
0 0.89617324
0 0.9100276
1 0.99325
0 0.8649624
0 0.84226626
0 0.8726326
1 0.7302977
1 0.75460386
1 0.8360017
1 0.73516685
0 0.6838579
0 0.7279043
1 0.99122393
1 0.728259
0 0.8928198
1 0.66140264
0 0.72561836
1 0.9922666
1 0.8655352
0 0.89265555
1 0.8296423
0 0.84075016
1 0.7282591
0 0.6935349
1 0.9128267
0 0.75413764
0 0.8928198
0 0.79905105
0 0.92136264
1 0.72664803
1 0.673558
1 0.7314653
1 0.64121115
1 0.60604584
0 0.89294827
1 0.8003656
0 0.89265555
0 0.74041986
0 0.90011364
1 0.95788795
0 0.9035776
1 0.6702774
0 0.9075073
1 0.91869825
0 0.8531739
0 0.8731879
0 0.9009641
0 0.5276628
0 0.8827554
0 0.8730776
0 0.8731879
0 0.8919474
0 0.8137179
0 0.8652688
1 0.7315836
1 0.9141222
1 0.7322349
1 0.9968527
0 0.9058472
0 0.90592146
1 0.79645133
0 0.5226212
1 0.7851529
1 0.8153324
0 0.90211105
1 0.92524105
0 0.9036751
0 0.8731879
1 0.64309853
0 0.89528155
1 0.63103175
0 0.85760057
0 0.8989587
0 0.9064867
0 0.7589957
0 0.5400639
0 0.9275852
0 0.91962117
0 0.8992088
0 0.9122224
0 0.83575946
1 0.66757065
0 0.9658731
0 0.7154959
1 0.98975205
1 0.81150204
0 0.8119059
0 0.7448837
0 0.9538895
0 0.72456
0 0.8950311
0 0.7074121
0 0.8840903
1 0.9530905
0 0.9045299
0 0.9406402
1 0.5244846
0 0.9266301
0 0.89959615
1 0.9871114
1 0.6666734
0 0.7254926
1 0.5461351
1 0.7313976
0 0.75177807
1 0.80952287
0 0.89376944
0 0.8561166
1 0.56701505
0 0.66065395
0 0.9055556
1 0.9042543
1 0.6729302
0 0.8931872
0 0.91259015
0 0.91554713
0 0.9051683
0 0.9705394
1 0.8015786
1 0.8764447
0 0.72895104
1 0.81876534
1 0.93471485
0 0.84075016
0 0.6530001
1 0.92174405
0 0.8731879
1 0.9746995
0 0.84730554
1 0.78947496
0 0.9187974
0 0.83535814
0 0.8546198
0 0.8610614
0 0.7090118
0 0.85049987
0 0.8589227
0 0.59051096
0 0.9078285
1 0.687985
1 0.6723091
0 0.83679724
1 0.6702574
1 0.7616933
1 0.8232205
1 0.8898198
1 0.75077975
0 0.8392952
0 0.7339929
1 0.7220714
0 0.83805007
1 0.90884584
0 0.89998704
0 0.88651186
0 0.8937167
0 0.6654609
1 0.7554533
0 0.8059812
0 0.65537596
1 0.73198855
1 0.71305066
1 0.99274933
0 0.89265555
1 0.7076664
0 0.89265555
1 0.86250526
0 0.89292616
1 0.88952494
1 0.5216367
0 0.89740884
1 0.7314653
0 0.90363866
0 0.8485031
0 0.6554906
1 0.9101383
0 0.9179835
0 0.87298644
0 0.64783734
0 0.8864167
0 0.70566666
0 0.89938223
1 0.68574977
1 0.93905747
1 0.88901615
1 0.7446664
1 0.6393836
0 0.89282864
0 0.9083587
0 0.67695117
1 0.835257
0 0.88601774
1 0.7851529
1 0.5724023
1 0.8199614
0 0.8863374
1 0.6247337
0 0.89731693
0 0.9045754
0 0.8931872
0 0.8731879
0 0.9023028
1 0.81054103
0 0.89294827
0 0.9224147
0 0.89286405
1 0.73353964
1 0.7841032
0 0.85671455
0 0.8928198
0 0.8025846
0 0.8931872
1 0.66997236
0 0.86396325
0 0.53612536
0 0.8731879
1 0.9804217
1 0.68338186
0 0.9051723
1 0.793268
0 0.8429842
0 0.86753637
0 0.86502826
0 0.83553654
1 0.6703694
1 0.7259763
1 0.7314653
1 0.51650184
1 0.7798386
0 0.9121095
0 0.89350516
0 0.54178613
0 0.8976708
0 0.89265555
0 0.6656104
1 0.72224116
0 0.9051683
0 0.6326096
0 0.9081686
0 0.9008124
1 0.76668936
0 0.9349901
0 0.6491809
0 0.9036984
0 0.90694225
0 0.7986598
0 0.8716114
0 0.8981729
1 0.7314653
1 0.82784456
0 0.5150034
1 0.76417476
0 0.518115
1 0.5797495
0 0.87150043
0 0.9088493
0 0.8931607
1 0.7210194
1 0.9875804
1 0.7356358
1 0.70945686
0 0.8317075
0 0.9016835
0 0.87465554
0 0.9009641
0 0.90409505
0 0.8366357
0 0.72973543
1 0.99439853
0 0.8981273
1 0.81258065
0 0.540589
0 0.8554645
0 0.8293454
1 0.7673459
0 0.739096
0 0.9051723
1 0.5055139
0 0.9016316
0 0.5612069
0 0.84319896
0 0.9514615
0 0.7953404
0 0.9051683
0 0.8304155
0 0.90726537
0 0.884167
1 0.9984236
0 0.9139255
1 0.67412674
0 0.83575946
1 0.61661947
0 0.8322372
1 0.82843363
1 0.9651357
0 0.8392952
0 0.6791088
0 0.8701299
1 0.8343873
0 0.7362537
1 0.89025503
0 0.89283746
0 0.8731879
1 0.603819
0 0.9661541
1 0.7478523
1 0.82843363
0 0.9006703
1 0.95173365
0 0.6766614
0 0.9213593
1 0.79502046
1 0.9228422
0 0.85362095
0 0.87085986
1 0.9865328
0 0.8601025
0 0.8605301
1 0.94297874
1 0.9968407
0 0.5174875
0 0.83231276
0 0.63609767
0 0.8099062
0 0.8731879
0 0.8780015
1 0.69870764
1 0.62066674
0 0.8295943
1 0.81961966
0 0.8993097
0 0.8783595
0 0.8731879
0 0.81234896
1 0.584703
1 0.90970004
0 0.8203202
0 0.87045085
0 0.96052176
1 0.942401
0 0.87697494
1 0.9452613
0 0.895302
0 0.8845466
1 0.9882902
0 0.8733952
1 0.9312648
0 0.6313688
0 0.8041472
0 0.83156615
0 0.8744688
1 0.8170436
1 0.73134696
1 0.76517826
1 0.7314653
1 0.9621677
1 0.6614747
0 0.89265555
1 0.98096347
0 0.91569424
0 0.89265555
0 0.91712123